body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #1c1c1c;
  color: #ebebebd9;
  margin: 0;
  padding: 0;
}


.standard-hover {
  transition: all 0.2s ease;
}

.standard-hover:hover {
  transform:translate(0, -2px);
}

.scale-hover {
  transition: all 0.2s ease;
}

.scale-hover:hover {
  transform: scale(1.05);
}

.dark-color {
  background-color: #45443c;
}
.light-color {
  background-color: #dddcd3;
}

.pill {
  border-radius: 9999px;
  border: 1px solid #ebebebd9;
  padding: 4px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a, li, p, button {
  font-size: 12px;
  letter-spacing: -0.25px;
}

.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}

h5 {
  font-size: 14px;
  line-height: auto;
  @media (max-width: 832) {
    font-size: 12px;
    
  }
  font-weight: 450;
}

h6 {
  font-size: 50px;
  line-height: 1.1;
  @media (max-width: 768px) {
    font-size: 45px;
    
  }
  font-weight: 500;
}

h4 {
  font-size: 30px;
  line-height: 1;
  @media (max-width: 768px) {
    font-size: 20px;
    
  }
  font-weight: 500;
}
h3 {
  font-size: 18px;
  line-height: 1;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: -5px;
  font-size: 48px;
  line-height: auto;
  @media (max-width: 768px) {
    font-size: 30px;
    letter-spacing: -2px;
  }

}

.logoicon {
  width: 16px;
  height: auto;
  align-self: center;
}

.links {
  color: #000000D9;
  position: relative;
}
.links::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -4px;
  right: -4px;
  bottom: -2px;
  background-color: #fffcf5ca;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  z-index: -1;
}
.links:hover::before {
  background-color: rgb(233, 233, 233);
}
.links-hover::before {
  background-color: rgb(233, 233, 233);
}

.underline {
  text-decoration: underline;
  text-decoration-color: #2a4042d9;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in;
}

.animate-fadeOut {
  animation: fadeOut 1.5s ease-in-out forwards;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}


.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}